# Item-Based Collaborative Filtering

In [1]:
import pandas as pd

r_cols = ['user_id', 'movie_id', 'rating']
ratings = pd.read_csv('E:\education\Data Science and Machine Learning with Python\data science\DataScience\ml-100k/u.data', sep='\t', names=r_cols, usecols=range(3))

m_cols = ['movie_id', 'title']
movies = pd.read_csv('E:\education\Data Science and Machine Learning with Python\data science\DataScience\ml-100k/u.item', sep='|', names=m_cols, usecols=range(2))

ratings = pd.merge(movies, ratings)

ratings[4500:]

        movie_id                                      title  user_id  rating
4500          26              Brothers McMullen, The (1995)      436       3
4501          26              Brothers McMullen, The (1995)      532       3
4502          26              Brothers McMullen, The (1995)      478       5
4503          26              Brothers McMullen, The (1995)      244       5
4504          26              Brothers McMullen, The (1995)      474       4
4505          26              Brothers McMullen, The (1995)      514       3
4506          26              Brothers McMullen, The (1995)      503       2
4507          26              Brothers McMullen, The (1995)      343       3
4508          26              Brothers McMullen, The (1995)      593       4
4509          26              Brothers McMullen, The (1995)      476       4
4510          26              Brothers McMullen, The (1995)      336       5
4511          26              Brothers McMullen, The (1995)      796       2
4512          26              Brothers McMullen, The (1995)      655       3
4513          26              Brothers McMullen, The (1995)      758       4
4514          26              Brothers McMullen, The (1995)      712       2
4515          26              Brothers McMullen, The (1995)      344       3
4516          26              Brothers McMullen, The (1995)      537       3
4517          26              Brothers McMullen, The (1995)      551       4
4518          26              Brothers McMullen, The (1995)      666       3
4519          26              Brothers McMullen, The (1995)      682       3
4520          26              Brothers McMullen, The (1995)      615       4
4521          26              Brothers McMullen, The (1995)      437       2
4522          26              Brothers McMullen, The (1995)      405       3
4523          26              Brothers McMullen, The (1995)      846       4
4524          26              Brothers McMullen, The (1995)      243       3
4525          26              Brothers McMullen, The (1995)      747       3
4526          26              Brothers McMullen, The (1995)      828       3
4527          26              Brothers McMullen, The (1995)      886       4
4528          26              Brothers McMullen, The (1995)      861       3
4529          26              Brothers McMullen, The (1995)      894       4
...          ...                                        ...      ...     ...
99973       1658              Substance of Fire, The (1996)      894       4
99974       1659            Getting Away With Murder (1996)      747       1
99975       1660                         Small Faces (1995)      747       2
99976       1661                        New Age, The (1994)      751       1
99977       1662                         Rough Magic (1995)      762       1
99978       1662                         Rough Magic (1995)      782       4
99979       1663                    Nothing Personal (1995)      782       2
99980       1664             8 Heads in a Duffel Bag (1997)      839       1
99981       1664             8 Heads in a Duffel Bag (1997)      880       4
99982       1664             8 Heads in a Duffel Bag (1997)      782       4
99983       1664             8 Heads in a Duffel Bag (1997)      870       4
99984       1665                   Brother's Kiss, A (1997)      782       2
99985       1666                                Ripe (1996)      782       2
99986       1667                      Next Step, The (1995)      782       3
99987       1668                  Wedding Bell Blues (1996)      782       3
99988       1669                   MURDER and murder (1996)      782       2
99989       1670                             Tainted (1998)      782       3
99990       1671                  Further Gesture, A (1996)      787       1
99991       1672                                Kika (1993)      896       2
99992       1672                                Kika (1993)      828       2
99993       1673                              Mirage (1995)      835       3
99994       1674                          Mamma Roma (1962)      840       4
99995       1675                      Sunchaser, The (1996)      851       3
99996       1676                    War at Home, The (1996)      851       2
99997       1677                       Sweet Nothing (1995)      854       3
99998       1678                          Mat' i syn (1997)      863       1
99999       1679                           B. Monkey (1998)      863       3
100000      1680                       Sliding Doors (1998)      863       2
100001      1681                        You So Crazy (1994)      896       3
100002      1682  Scream of Stone (Schrei aus Stein) (1991)      916       3

[95503 rows x 4 columns]

In [32]:
ratings.index

Int64Index([     0,      1,      2,      3,      4,      5,      6,      7,
                 8,      9,
            ...
             99993,  99994,  99995,  99996,  99997,  99998,  99999, 100000,
            100001, 100002],
           dtype='int64', length=100003)

In [37]:
ratings.ix[1]

movie_id                   1
title       Toy Story (1995)
user_id                  287
rating                     5
Name: 1, dtype: object

In [33]:
ratings.title.head()

0    Toy Story (1995)
1    Toy Story (1995)
2    Toy Story (1995)
3    Toy Story (1995)
4    Toy Story (1995)
Name: title, dtype: object

In [36]:
ratings['title'].tail()

99998                             Mat' i syn (1997)
99999                              B. Monkey (1998)
100000                         Sliding Doors (1998)
100001                          You So Crazy (1994)
100002    Scream of Stone (Schrei aus Stein) (1991)
Name: title, dtype: object

In [32]:
userRatings = ratings.pivot_table(index=['user_id'],columns=['movie_id'],values='rating')
userRatings.head()

movie_id,1,2,3,4,5,6,7,8,9,10,...,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682
user_id,,,,,,,,,,,,,,,,,,,,,
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5.0,3.0,4.0,3.0,3.0,5.0,4.0,1.0,5.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
temp=userRatings[1]
import numpy as np

In [45]:
peek=temp[np.abs(temp)>=1]
peek.head()

C:\Users\intel\AppData\Local\Enthought\Canopy\User\lib\site-packages\ipykernel\__main__.py:1: RuntimeWarning: invalid value encountered in absolute
  if __name__ == '__main__':

user_id
1     5.0
2     4.0
5     4.0
6     4.0
10    4.0
Name: 1, dtype: float64

In [46]:
np.average(peek)

3.8783185840707963

In [3]:
corrMatrix = userRatings.corr()
corrMatrix.head()

title,'Til There Was You (1997),1-900 (1994),101 Dalmatians (1996),12 Angry Men (1957),187 (1997),2 Days in the Valley (1996),"20,000 Leagues Under the Sea (1954)",2001: A Space Odyssey (1968),3 Ninjas: High Noon At Mega Mountain (1998),"39 Steps, The (1935)",...,Yankee Zulu (1994),Year of the Horse (1997),You So Crazy (1994),Young Frankenstein (1974),Young Guns (1988),Young Guns II (1990),"Young Poisoner's Handbook, The (1995)",Zeus and Roxanne (1997),unknown,� k�ldum klaka (Cold Fever) (1994)
title,,,,,,,,,,,,,,,,,,,,,
'Til There Was You (1997),1.0,NaN,-1.000000,-0.500000,-0.500000,0.522233,NaN,-0.426401,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1-900 (1994),NaN,1,NaN,NaN,NaN,NaN,NaN,-0.981981,NaN,NaN,...,NaN,NaN,NaN,-0.944911,NaN,NaN,NaN,NaN,NaN,NaN
101 Dalmatians (1996),-1.0,NaN,1.000000,-0.049890,0.269191,0.048973,0.266928,-0.043407,NaN,0.111111,...,NaN,-1.000000,NaN,0.158840,0.119234,0.680414,0.000000,0.707107,NaN,NaN
12 Angry Men (1957),-0.5,NaN,-0.049890,1.000000,0.666667,0.256625,0.274772,0.178848,NaN,0.457176,...,NaN,NaN,NaN,0.096546,0.068944,-0.361961,0.144338,1.000000,1,NaN
187 (1997),-0.5,NaN,0.269191,0.666667,1.000000,0.596644,NaN,-0.554700,NaN,1.000000,...,NaN,0.866025,NaN,0.455233,-0.500000,0.500000,0.475327,NaN,NaN,NaN

In [49]:
import numpy as np
corrMatrix = userRatings.corr(method='pearson', min_periods=100)
col=corrMatrix.ix[2]
col[np.abs(col)>0]
col.head()

movie_id
1    0.221784
2    1.000000
3         NaN
4         NaN
5         NaN
Name: 2, dtype: float64

In [5]:
myRatings = userRatings.loc[0].dropna()
myRatings

title
Empire Strikes Back, The (1980)    5
Gone with the Wind (1939)          1
Star Wars (1977)                   5
Name: 0, dtype: float64

In [6]:
simCandidates = pd.Series()
for i in range(0, len(myRatings.index)):
    print "Adding sims for " + myRatings.index[i] + "..."
    sims = corrMatrix[myRatings.index[i]].dropna()
    sims = sims.map(lambda x: x * myRatings[i])
    simCandidates = simCandidates.append(sims)
    
print "sorting..."
simCandidates.sort_values(inplace = True, ascending = False)
print simCandidates.head(10)

Adding sims for Empire Strikes Back, The (1980)...
Adding sims for Gone with the Wind (1939)...
Adding sims for Star Wars (1977)...
sorting...
title
Empire Strikes Back, The (1980)                       5.000000
Star Wars (1977)                                      5.000000
Empire Strikes Back, The (1980)                       3.741763
Star Wars (1977)                                      3.741763
Return of the Jedi (1983)                             3.606146
Return of the Jedi (1983)                             3.362779
Raiders of the Lost Ark (1981)                        2.693297
Raiders of the Lost Ark (1981)                        2.680586
Austin Powers: International Man of Mystery (1997)    1.887164
Sting, The (1973)                                     1.837692
dtype: float64

In [7]:
simCandidates = simCandidates.groupby(simCandidates.index).sum()

In [8]:
simCandidates.sort_values(inplace = True, ascending = False)
simCandidates.head(10)

title
Empire Strikes Back, The (1980)              8.877450
Star Wars (1977)                             8.870971
Return of the Jedi (1983)                    7.178172
Raiders of the Lost Ark (1981)               5.519700
Indiana Jones and the Last Crusade (1989)    3.488028
Bridge on the River Kwai, The (1957)         3.366616
Back to the Future (1985)                    3.357941
Sting, The (1973)                            3.329843
Cinderella (1950)                            3.245412
Field of Dreams (1989)                       3.222311
dtype: float64

In [9]:
filteredSims = simCandidates.drop(myRatings.index)
filteredSims.head(10)

title
Return of the Jedi (1983)                    7.178172
Raiders of the Lost Ark (1981)               5.519700
Indiana Jones and the Last Crusade (1989)    3.488028
Bridge on the River Kwai, The (1957)         3.366616
Back to the Future (1985)                    3.357941
Sting, The (1973)                            3.329843
Cinderella (1950)                            3.245412
Field of Dreams (1989)                       3.222311
Wizard of Oz, The (1939)                     3.200268
Dumbo (1941)                                 2.981645
dtype: float64